@charset "UTF-8";
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
/* line 7, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

/* line 17, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
/* line 21, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
html {
  box-sizing: border-box;
}

/* line 25, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
/* line 35, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
/* line 50, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
/* line 54, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
ul {
  list-style: none;
}

/* line 56, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
blockquote, q {
  quotes: none;
}

/* line 58, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 63, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 65, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
del {
  text-decoration: line-through;
}

/* line 67, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
/* line 70, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 71, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
th {
  font-weight: bold;
  vertical-align: bottom;
}

/* line 72, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
td {
  font-weight: normal;
  vertical-align: top;
}

/* line 74, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 76, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
input, select {
  vertical-align: middle;
}

/* line 78, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

/* line 85, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 86, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 87, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 88, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 90, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
select, input, textarea {
  font: 99% sans-serif;
}

/* line 92, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* line 94, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
small {
  font-size: 85%;
}

/* line 96, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
strong {
  font-weight: bold;
}

/* line 98, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
/* line 101, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 102, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
sup {
  top: -0.5em;
}

/* line 103, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
/* line 106, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
/* line 109, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
/* line 117, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
/* line 120, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
/* line 124, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
/* line 132, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 133, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
.clearfix:after {
  clear: both;
}

/* line 134, ../../../../../../../../../../../../../Users/Daria/Desktop/конспект/html:css/project-3/src/sass/resets.scss */
.clearfix {
  zoom: 1;
}

/*# sourceMappingURL=resets.css.map */